@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

body {
  background-color: black;
}

.landing {
  color: #FCDD2B;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.landing-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.landing-year {
  font-weight: 300;
  font-style: italic
}

.starwars-logo {
  height: 89px;
  width: 200px;
}

.scroll-text{
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  position: relative;
  overflow: hidden;
  text-align: justify;
}

.scroll-title {
  text-align: center;
}

.fade-overlay {
  height: 550px;
  position: absolute;
  top:0;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
  width: 100%;
  z-index: 1;
}

@keyframes crawl {
  0% {
    top: 1000px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.crawl {
  animation: crawl 110s linear;
  animation-fill-mode: forwards;
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
}