@font-face {
  font-family: 'Jedi';
  src: url('../../utils/fonts/Starjedi.ttf') format('truetype');
}

@font-face {
  font-family: 'Pathway Gothic One';
  src: url('../../utils/fonts/PathwayGothicOne-Regular.ttf') format('truetype');
}

body {
  background-color: black;
}

.main-title2 {
  color: #FCDD2B;
  font-family: 'Jedi';
  position: relative;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 100%;
  top: -15px;
  right: 5px;
  height: 50px;
  width: 200px;
  opacity: 0;
  animation: fadeIn 3s ease 4.2s;
  animation-fill-mode: both;
}

.landing {
  color: #FCDD2B;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.landing-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 15px 30px;
  height: 300px;
}

.header-right {
  width: 200px;
}

.landing-title {
  animation: fadeIn 3s ease 4.2s;
  animation-fill-mode: both;
}

.landing-year {
  animation: fadeIn 3s ease 4.2s;
  animation-fill-mode: both;
  font-weight: 300;
  font-style: italic;
  margin-top: -10px;
}

.starwars-logo {
  animation: fadeIn 3s ease 4.2s;
  animation-fill-mode: both;
  height: 89px;
  width: 200px;
}

.continue-to-site-btn {
  animation: fadeIn 3s ease 4.2s;
  animation-fill-mode: both;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.enter-btn {
  color: white;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 3em;
  position: relative;
  top: 240px;
  text-shadow: 1px 1px 1px white;
  height: 80px;
  transition: all .4s;
  z-index: 100;

  &:hover {
    color: #00D1FF;
    text-shadow: 1px 1px 1px #00D1FF;
    cursor: pointer;
  }

  &:hover ~ .ring {
    animation: rotateToTop .5s ease;
    animation-fill-mode: forwards;
    cursor: pointer;
  }
}

.ring {
  position: absolute;
  transition: all .5s;
}

.outerring {
  animation: rotateRing 20s linear 0s infinite;
  height: 280px;
  width: 280px;
}

.middlering {
  animation: rotateRingMiddle 23s linear 0s infinite;
  top: 40px;
  height: 200px;
  transform: rotate(170deg);
  width: 200px;
}

.innerring {
  animation: rotateRingInner 29s linear 0s infinite;
  top: 90px;
  height: 100px;
  transform: rotate(70deg);
  width: 100px;
}

.scroll-text{
  display: flex;
  justify-content: center;
  height: 80%;
  perspective: 400px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  position: relative;
  overflow: hidden;
  text-align: justify;
}

.scroll-title {
  text-align: center;
}

.fade-overlay {
  height: 550px;
  position: absolute;
  top: -20px;
  background-image: linear-gradient(black 2%, rgba(0, 0, 0, 0) 98%);
  width: 100%;
  z-index: 1;
}

.crawl {
  animation: crawl 80s linear;
  animation-fill-mode: forwards;
  position: relative;
  top: 0px;
  transform-origin: 50% 100%;
}

.millenium-landing {
  animation: milleniumZoom 5s ease;
  animation-fill-mode: forwards;
  position: absolute;
  left: calc(50% - 300px);
  transform: perspective(400px);
  bottom: 160px;
  transform: rotate(-60deg) perspective(50em) rotateX(38deg) rotateY(55deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateRing {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateRingMiddle {
  100% {
    transform: rotate(530deg);
  }
}

@keyframes rotateRingInner {
  100% {
    transform: rotate(430deg);
  }
}



@keyframes rotateToTop {
  100% {
    transform: rotate(50deg);
  }
}

@keyframes milleniumZoom {
  0% {
    transform: 
      translateX(-500px) 
      translateY(560px)
  }
  
  60% {
    transform: 
      rotate(-65deg) 
      perspective(50em) 
      rotateX(38deg) 
      rotateY(55deg) 
      perspective(50em) 
      translate(-60px, 40px)
      scale(1);
  }

  87% {
    transform: 
      rotate(-70deg) 
      perspective(50em) 
      rotateX(38deg) 
      rotateY(55deg) 
      perspective(50em) 
      translate(-44px, 45px)
      scale(1.1);
  }
  99% {
    transform: 
      rotate(-80deg) 
      perspective(50em) 
      rotateX(38deg) 
      rotateY(55deg) 
      translate(1034px, -1000px)
      scale(0.1)
  }
  100% {
    transform: 
      rotate(-800deg) 
      perspective(50em) 
      rotateX(38deg) 
      rotateY(55deg) 
      translate(1034px, -1000px)
      scale(0)
      
  }
}

@keyframes crawl {
  0% {
    top: 100%;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}