@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.menu {
  width: 100%;
  height: 655px;
  margin: 30px auto;
  animation: fade 2s ease;
}

.main-title {
  color: #FCDD2B;
  font-family: 'Jedi';
  position: absolute;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 100%;
  top: -15px;
  right: 5px;
  height: 50px;
  width: 200px;
}

@mixin path($height, $width, $top, $left) {
  border: 5px solid rgba(0, 208, 255, 0.99);
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #00D1FF,
              0 0 15px 2px #00D1FF,
              0 0 25px 1px #00D1FF,
        inset 0 0 2px 1px #00D1FF,
        inset 0 0 25px 1px #00D1FF,
        inset 0 0 15px 2px #00D1FF;
  height: $height;
  width: $width;
  position: relative;
  top: $top;
  left: $left;
  z-index: 3;
}

@mixin planet($top, $left) {
  border: 5px solid rgba(0, 208, 255, 0.99);
  background: rgba(0, 208, 255, 0.99);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px #00D1FF,
              0 0 15px 2px #00D1FF,
              0 0 25px 1px #00D1FF,
        inset 0 0 2px 1px #00D1FF,
        inset 0 0 25px 1px #00D1FF,
        inset 0 0 15px 2px #00D1FF;
  position: absolute;
  top: $top;
  left: $left;
  transition: .5s ease;
  z-index: 4;

  &:hover {
    filter: drop-shadow(0 0 0.75rem #00D1FF);
    transition: .5s ease;
    cursor: pointer;
  }
}

.planet-label {
  font-family: 'Pathway Gothic One';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  color: black;
  position: relative;
  top: 1px;
  right: 104px;
  z-index: 5;
  width: 110px;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  transform: rotate(-20deg);
  background: rgba(0, 208, 255, 0.894);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.favorites-path {
  @include path(620px, 620px, 0, 10px);
  margin: 20px auto;
}

.vehicles-path {
  @include path(500px, 500px, 67px, 43px);
}

.planets-path {
  @include path(350px, 350px, 80px, 90px);
}

.people-path {
  @include path(200px, 200px, 50px, 47px);
}

.favorites-planet {
  @include planet(287px, 289px);
  animation: slideIn 150s linear infinite;
}

.vehicles-planet {
  @include planet(226px, 228px);
  animation: slideIn2 140s linear infinite;
}

.planets-planet {
  @include planet(150px, 150px);
  animation: slideIn3 130s linear infinite;
}

.people-planet {
  @include planet(77px, 78px);
  animation: slideIn4 120s linear infinite;
}

.alt-menu h3 {
  display: none;
}

@keyframes slideIn {
    from { 
      transform: rotate(0deg) translateX(312px) rotate(0deg);
    }
    to { 
      transform: rotate(360deg) translateX(312px) rotate(-360deg); 
    }
}

@keyframes slideIn2 {
    from { 
      transform: rotate(30deg) translateX(250px) rotate(-30deg);
    }
    to { 
      transform: rotate(390deg) translateX(250px) rotate(-390deg); 
    }
}

@keyframes slideIn3 {
    from { 
      transform: rotate(120deg) translateX(175px) rotate(-120deg);
    }
    to { 
      transform: rotate(480deg) translateX(175px) rotate(-480deg); 
    }
}

@keyframes slideIn4 {
    from { 
      transform: rotate(0deg) translateX(101px) rotate(0deg);
    }
    to { 
      transform: rotate(360deg) translateX(101px) rotate(-360deg); 
    }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 890px) {
  .favorites-path {
    transform: scale(.9);
  }
}

@media screen and (max-width: 770px) {
  .favorites-path {
    transform: scale(.75);
  }

  .main-title {
    font-size: 1.8rem;
    text-align: end;
  }
}

@media screen and (max-width: 650px) {
  .favorites-path {
    display: none;
  }

  .alt-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
  }

  .alt-menu {
    width: 170px;

    h3 {
      display: block;
      width: 166px;
      text-align: center;
      padding: 5px;
      border-radius: 15px;
      background: rgba(0, 208, 255, 0.894);
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      font-family: 'Pathway Gothic One';
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.4rem;
      color: black;
      z-index: 5;
      right: 0;
      transform: rotate(0);

      &:hover {
        filter: drop-shadow(0 0 0.75rem #00D1FF);
        transition: .5s ease;
        cursor: pointer;
      }
    }
  }

}