@mixin title($width, $margin) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margin;
  padding: 5px 15px 5px 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: $width;
  background: #207D9B;
}

.card {
  background: #353535;
  border-radius: 12px;
  width: 300px;
  height: 270px;
  margin: 0 auto;
  transform: rotate3d(0, 1, 0, 180deg);
  transition: 1.5s;
  position: relative;
  animation: fadeIn 1s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
  }

  h1 {
    font-family: 'Pathway Gothic One';
    letter-spacing: 1px;
    margin: 0;
    color: white;
  }

  i {
    color: #353535;
    font-size: 1.5rem;
    padding-left: 5px;
    transition: .4s ease;
    position: relative;
    z-index: 3;

    &:hover {
      text-shadow: 0 0 8px #FCDD2B;
      transition: .4s ease;
      cursor: pointer;
    }
  }

  .favorite {
    color: #FCDD2B;
  }

  .card-header-people {
    background-color: #207D9B;
  }

  .card-header-vehicles {
    background-color: #4F978A;
  }

  .card-header-planets {
    background-color: #974F72;
  }
}

.card-header-people {
  background-color: #207D9B;
}

.card-header-vehicles {
  background-color: #4F978A;
}

.card-header-planets {
  background-color: #974F72;
}

.card-type {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
}

.div-line {
  background-color: grey;
  height: 46px;
  margin-top: 6px;
  width: 1px;
}

.card-icon {
  position: absolute;
  width: 100px;
  bottom: 10px;
  right: 25px;
}

.card-title {
  @include title(75%, 22px auto 5px 0px);
}

.homeworld-title {
  @include title(35%, 10px auto 5px 0px);
}

.stats-container {
  margin: 10px auto 0px auto;
  display: flex;
  justify-content: space-around;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: 'Pathway Gothic One';
    margin: 5px;
    font-size: 1.2rem;
    color: white;
  }
}

h1.homeworld {
  margin-left: 20px;
}

h1.population {
  margin-left: 30px;
  color: white;
  font-size: 1.2rem;
}

.card-front {
  border-radius: 12px;
  position: absolute;
  z-index: 100;

  .image-side-title {
    @include title(75%, 22px auto 5px 0px);
    position: absolute;
    right: 0px;
    transform: rotate3d(0, 1, 0, 180deg);
  }

  .card-header-people {
    background-color: #207D9B;
  }

  .card-header-vehicles {
    background-color: #4F978A;
  }

  .card-header-planets {
    background-color: #974F72;
  }
}

.front-image {
  border-radius: 12px;
}

.flipped {
  animation: unflipCard 1.5s ease;
  animation-fill-mode: both;

  .card-front {
    animation: fadeOutImage 1.0s ease;
    animation-fill-mode: both;
  }

  .card-title {
    animation: unflipTitle 1.5s ease;
    animation-fill-mode: both;
  }
}

.unflipped {
  animation: flipCard 1.5s ease;
  animation-fill-mode: both;

  .card-front {
    animation: fadeInImage 1.0s ease;
    animation-fill-mode: both;
  }

  .card-title {
    animation: flipTitle 1.5s ease;
    animation-fill-mode: both;
  }
}

@keyframes flipCard {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

@keyframes unflipCard {
  0% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInImage {
  0%, 40% {
    opacity: 0;
  }
  41%, 100% {
    opacity: 1;
    z-index: 50
  }
}

@keyframes fadeOutImage {
  0%, 39% {
    opacity: 1;
  }
  40%, 100% {
    opacity: 0;
    z-index: 1;
  }
}

